<!DOCTYPE html>
<html>
  <head>
    <title><%= lista.nombre %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Hola, mi nombre es <%= lista.nombre %> y soy <%= lista.profesion %></p>

  </body>
</html>
