<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= nombre  %></title>
</head>
<body>
    <h3>nombre: <%= nombre %></h3>
    <h3>reseña:</h3>
    <p><%= reseña  %></p>
</body>
</html>